.head{
    padding: 1px;
    text-align: center;
    size: 25px;
    color: red;
    background-color: aqua;
}

.paragraph{
    text-align: center;
    background: fixed;
    color: maroon;
    font-size: large;
    box-sizing: border-box;
    background-color: chartreuse;
}